*{
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
}

body{
  background: #66FFCC;
}

.page{
   width: 100%;
  height: 100%;
  display: flex;
  background-color:   #21b5b0 ;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
}

.delante,.atras{
  display: flex; 
  color: #000080;  
  font-style: italic;
  background-color: #FFC0CB;   
  font-weight: bold;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #FFB6C1;    
  border-radius: 35px;
  width: 500px;
  margin: auto;
  flex-direction: row;
}

.men{   /*Azul*/
    width: 900px;
    height: 750px;
    background-color: #9a0652;    /* Medium blue */
    display: flex;
    justify-content: space-around; 
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    border-radius: 35px;
    text-align: center;
}

.tit{
  display: flex;   
  width: 900px;
  height: 200px;
  margin: 0 auto;
  flex-direction: row;
  background-color:  #48bbcf;
  color: #0a6a73;

}


.not{
  display: flex;
  width: 900px;
  height: 150px;
  background-color: #ca1572;    /* Medium blue */
  border: 1px solid black;
  display: flex;
  text-decoration: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 100px;
  margin-top: 100px;
  border-radius: 35px;
}

.links{   /*links curriculum y cine*/
  display: flex;
  height: 150px;
  width: 100%;
  background-color:  #ca1572;
  justify-content: space-around;
  align-items: center;
  border-radius: 35px;
}

a:visited:hover{
  color: #006699;
  background-color: #00CCFF;
  border-color: #00CCFF;
}

a:visited:active{
  color: red;
}

p{
  display: flex;
  margin-bottom: 10px;
  color-interpolation: blue;
  color: black;
  font-size: 20px;
  font-family: verdana;
  font-style: italic;
}

h1{
  display: flex;
  background-color: #33CCCC;  
  font-style: italic;  
  font-size: 40px;
}

h3{
  font-style: italic;  
  font-size: 30px;
}

ol{
  display: flex;
  list-style-type: upper-roman;
  font-size: 50px;   
}


